# =========================
# APPLICATION
# =========================
SPRING_PROFILES_ACTIVE=local

# =========================
# DATABASE
# =========================
DB_URL=jdbc:postgresql://localhost:5432/java_boilerplate
DB_USERNAME=admin
DB_PASSWORD=admin_macbook
DB_POOL_MIN_IDLE=2
DB_POOL_MAX_SIZE=10

# =========================
# REDIS
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TIMEOUT=2s

# =========================
# KAFKA
# =========================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=java-boilerplate

# =========================
# SERVER
# =========================
SERVER_PORT=9010

# =========================
# TASK CONFIG
# =========================
TASK_CACHE_ENABLED=true
TASK_CACHE_TTL=10m
TASK_CLEANUP_ENABLED=true
TASK_CLEANUP_CRON=0 0 2 * * *
TASK_CLEANUP_RETENTION=30d
TASK_KAFKA_ENABLED=true
TASK_KAFKA_CREATE_TOPIC=task.create
TASK_KAFKA_DLT_TOPIC=task.create.dlt
TASK_KAFKA_RETRY_INTERVAL_MS=1000
TASK_KAFKA_MAX_RETRIES=2

# =========================
# SHARED SDK
# =========================
APP_TIMEZONE=UTC
SDK_SECURITY_ENABLED=true
SDK_METHOD_SECURITY_ENABLED=true
SDK_CORS_ENABLED=false
OAUTH2_ISSUER_URI=http://localhost:9005
JWT_PRINCIPAL_ATTRIBUTE=username

# =========================
# MANAGEMENT / ACTUATOR
# =========================
TRACING_SAMPLING_PROBABILITY=0.1

# =========================
# LOGGING
# =========================
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APPLICATION=INFO
LOG_LEVEL_KAFKA=INFO
LOG_LEVEL_SECURITY=INFO
LOG_LEVEL_HIBERNATE_SQL=WARN
LOG_LEVEL_HIBERNATE_BIND=WARN
